<section id="about" class="bg-neutral-100 py-24 px-6">
    
        <h2 class="text-5xl font-semibold text-center mb-6">About Me</h2>
        <div class="grid place-items-center">
                <div class="w-full max-w-3xl h-[700px] bg-cyan-400"></div>
        </div>
        
</section>

<style>

</style>