<section id="about" class="my-[500px]">
    
        <h2 class="text-center mb-6 testing">About Me</h2>
        
</section>

<style>
     .testing{
        color: aqua;
        animation: test 2s forwards;
     }
     @keyframes test{
        0%{
        color: red;    
        }
        100%{
        color: aqua;
        }
     }
</style>