---
const { name } = Astro.props
---
<header id="/" class="flex flex-col w-full h-[calc(100vh-90px)] pt-[170px] px-12 border-2">
    <div class="w-full">
        <div class="md:w-[calc(100vw-60%)]">
            <span class="text-sm text-neutral-500 uppercase font-semibold">Hello!</span>
            <h3 class="text-3xl font-bold mt-2 mb-1">I'm <span class="text-cyan-500">{name}</span>.</h3>
            <h3 class="text-3xl font-bold mb-4">A <span class="text-cyan-500">Graphic</span> Designer</h3>
            <p class="text-base text-neutral-800 mb-6">As a skilled and passionate graphic designer, I am excited to share my diverse range of projects and showcase my unique style and abilities through this portfolio.</p>
            <div class="">
                <button class="btn">Get in Touch</button>
            </div>
        </div>

    </div>
</header>